<!DOCTYPE html>
<html>
    <head>
        <title>Unit tests for <%= title %></title>
        <meta charset="UTF-8" />

        <script
            id="sap-ui-bootstrap"
            src="<%= ui5libsprefix%>resources/sap-ui-core.js%>"
            data-sap-ui-theme="sap_fiori_3"
            data-sap-ui-resourceroots='{
                "<%= appId %>": "../../"
            }'
            data-sap-ui-async="true"
        ></script>
        <!-- needed for design of qunit output html -->
        <link rel="stylesheet" type="text/css" href="<%=ui5libsprefix%>resources/sap/ui/thirdparty/qunit-2.css" />

        <script src="<%=ui5libsprefix%>resources/sap/ui/thirdparty/qunit-2.js"></script>
        <script src="<%=ui5libsprefix%>resources/sap/ui/qunit/qunit-junit.js"></script>

        <script src="unitTests.qunit.js"></script>
    </head>
    <body>
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
    </body>
</html>
