<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Unit tests for Bulletin Board</title>

	<script id="sap-ui-bootstrap"
			src="<%= ui5LibsPath %>resources/sap-ui-core.js"
			data-sap-ui-resourceroots='{
				"<%= uimodule %>": "../../"
			}'
			data-sap-ui-frameOptions='deny'
			data-sap-ui-async="true">
	</script>

	<link rel="stylesheet" type="text/css" href="<%= ui5LibsPath %>resources/sap/ui/thirdparty/qunit-2.css">

	<script src="<%= ui5LibsPath %>resources/sap/ui/thirdparty/qunit-2.js"></script>
	<script src="<%= ui5LibsPath %>resources/sap/ui/qunit/qunit-junit.js"></script>
	<script src="<%= ui5LibsPath %>resources/sap/ui/qunit/qunit-coverage.js"></script>
	<script src="<%= ui5LibsPath %>resources/sap/ui/thirdparty/sinon.js"></script>
	<script src="<%= ui5LibsPath %>resources/sap/ui/thirdparty/sinon-qunit.js"></script>

	<script src="unitTests.qunit.js"></script>

</head>
<body>
	<div id="qunit"/>
	<div id="qunit-fixture"/>
</body>
</html>
